@font-face {
    font-family: 'RoadRage-Regular';
    src: url('assets/TrajanSansPro-Semibold.otf');
}

:root {
    --primary-accent-color: #9da06b;
    --secondary-accent-color: #e7292e;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#page-container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    position: relative;
}

header img {
    width: auto;
    margin: 0 auto;
}

header nav {
    width: 100%;
    height: 50px;
    z-index: 2;
    font-size: 1.5em;
    transition: background 0.3;
    background: #fff;
}

header nav.sticky {
    position: fixed;
    top: 0;
    max-width: 80%;
    width: 100%;
    border-bottom: 1px solid var(--primary-accent-color);
}

header nav button#menu-toggle {
    display: none;
    /* hide for desktop view */
}

header nav button#menu-toggle img {
    width: 90%;
    height: auto;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 50%);
    transition: background-position 0.2s;
}

header nav li:hover {
    background-position: 0 100%;
}

header nav li a {
    height: 100%;
    padding: 10px 30px;
    line-height: 2.1em;
    color: #333;
}

main section {
    padding: 10px 0;
    clear: both;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-family: 'RoadRage-Regular';
    text-transform: uppercase;
    font-weight: 400;
}

main h1 {
    font-size: 2.8em;
    color: var(--primary-accent-color);
}

main h2 {
    font-size: 2em;
}

main h3 {
    font-size: 2em;
}

main section p {
    font-size: 1.2em;
    line-height: 2em;
    text-align: left;
}

main section p:first-of-type::first-line {
    font-weight: 600;
}

main img.banner {
    width: 100%;
    height: auto;
}

main #list-container {
    width: 100%;
}

main .show-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-accent-color);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.3em;
    text-align: left;
}

main .show-item>div {
    padding: 10px;
}

main .show-item .show-date {
    display: block;
    width: 100%;
    color: var(--primary-accent-color);
    margin-bottom: 10px;
    font-style: italic;
}

main .show-item .directions {
    transition: 0.3s;
    background-color: var(--primary-accent-color);
    border-radius: 5px;
    padding: 10px 25px;
    color: #fff;
}

main .show-item .directions:hover {
    background-color: var(--secondary-accent-color);
}

main #more-tba {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
}

section #member-bios {
    display: none;
}

section #member-bios #member-images {
    width: 100%;
    text-align: center;
}

section #member-bios #member-images img {
    transition: 0.2s;
}

section #member-bios #member-images.jeff #jeffImg {
    filter: sepia(100%) hue-rotate(163deg) saturate(500%);
    transform: scale(1.1);
}

section #member-bios #member-images.tom #tomImg {
    filter: sepia(100%) hue-rotate(319deg) saturate(500%);
    transform: scale(1.1);
}

section #member-bios #member-images.keith #keithImg {
    filter: sepia(100%) hue-rotate(139deg) saturate(500%);
    transform: scale(1.1);
}

section #member-bios #member-images.ben #benImg {
    filter: sepia(100%) hue-rotate(39deg) saturate(500%);
    transform: scale(1.1);
}

section #member-bios #member-images img {
    max-width: calc(25% - 11px);
    margin: 3px;
}

section #member-bios #member-bio-text div[id^='bio-'] {
    display: none;
    width: 100%;
}

section #member-bios #member-bio-text div[id^='bio-'].active {
    display: block;
}

.embed-container {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.embed-container video,
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.section-img {
    width: 100%;
}

img.section-img.float-left {
    float: left;
    margin-right: 20px;
}

img.section-img.float-right {
    float: right;
    margin-left: 20px;
}

div.social-media-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    transition: width height;
    transition: 0.6s;
}

.social-media-btn:hover,
.social-media-btn:focus {
    transform: scale(1.3);
}

.social-media-btn a img {
    width: 100%;
    height: auto;
}

div.facebook {
    background: #3E5C9A;
}

div.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

#overlay-container {
    background-color: rgba(100, 100, 100, 0.6);
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 25px;
    opacity: 0.1;
    transition: opacity 0.25s ease-in-out;
    overflow: hidden;
    z-index: 10;
}

#overlay-container>div {
    max-width: 400px;
    position: relative;
}

#overlay-container>div img {
    max-width: 100%;
}

#overlay-container #close-overlay {
    background-color: var(--primary-accent-color);
    border: 4px solid #fff;
    border-radius: 25px;
    max-width: 50px;
    padding: 7px;
    position: absolute;
    top: -20px;
    right: -20px;
    animation: 2s infinite pulse ease-in-out;
}

#overlay-container #close-overlay img {
    max-width: 100%;
    height: auto;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

/* Resets */
button,
button:focus {
    background: unset;
    border: unset;
    cursor: pointer;
    outline: unset;
    font-size: 1em;
}

a {
    text-decoration: none;
}

video,
video:focus {
    outline: none;
}

/* Tablet and smaller device handling */
@media (max-width: 834px) {

    #page-container {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    header img.banner {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }

    header nav {
        width: calc(100% - (var(--menu-toggle-width) + 5px));
        height: 100vh;
        background: var(--primary-accent-color);
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 200ms;
        transform: translateX(-100%);

        --menu-toggle-width: 70px;
    }

    header nav.expanded {
        transform: translateX(0);
    }

    header nav button#menu-toggle {
        display: block;
        width: var(--menu-toggle-width);
        position: absolute;
        right: calc(0px - var(--menu-toggle-width));
        padding: 5px 10px 5px 15px;
        background-color: var(--primary-accent-color);
        border-radius: 0 5px 5px 0;
    }

    header nav ul {
        margin-top: 0;
        padding: 0 10px;
        text-align: left;
    }

    header nav ul.is-active {
        display: block;
    }

    header nav ul li {
        display: block;
        background: unset;
        border-bottom: 1px solid #fff;
    }

    header nav ul li:hover,
    header nav ul li:active,
    header nav ul li:focus {
        background: var(--primary-accent-color);
        color: #fff;
    }

    header nav li a {
        color: #fff;
    }

    main {
        padding: 0 10px;
    }

    main h1 {
        font-size: 2.3em;
        margin: 5px auto
    }

    main h2 {
        font-size: 1.5em;
    }

    main section p {
        font-size: 1.2em;
        line-height: 2em;
        text-align: center;
    }

    img.section-img {
        max-width: 100%;
        width: 100%;
    }

    img.section-img.float-left {
        float: none;
        margin-right: 0;
    }

    img.section-img.float-right {
        float: none;
        margin-left: 0;
    }

    main .show-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* #overlay-container {
        max-width: 100%;
    } */

    #overlay-container>div {
        max-width: 100%;
    }

    #overlay-container>div img {
        max-width: 100%;
    }
}